<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>nwjs</title>
	<link rel="import" href="includes.html">
	<link rel="stylesheet" href="styles.css"/>
	<script src="script.js"></script>
</head>

<body ng-controller="controller">
	<div class="container-fluid">
		<div class="row" ng-hide="matrix">
			<div class="col-xs-6">
				<input type="file" id="openFile" ng-hide="true" />
				<button class="btn btn-primary" ng-click="openFile()">Cargar archivo</button>
			</div>
			<div class="col-xs-6"></div>
		</div>

		<div class="row">
			<div class="col-xs-6" ng-show="when">
				Fecha del archivo: {{when.date}}
			</div>
			<div class="col-xs-6">
				<div class="pull-right" ng-show="matrix">
					<button class="btn btn-primary" ng-click="exportFile()">Exportar a CSV</button>
				</div>
			</div>
		</div>

		<div class="row" ng-show="matrix">
			<div class="panel panel-default">
				<table class="table table-striped table-bordered table-responsive entries-table">
					<thead>
						<tr>
							<th ng-repeat="header in headers">
								<label class="checkbox-inline">
									<input type="checkbox" ng-model="header.selected">{{header.name}}
								</label>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in matrix">
							<td ng-class="{selected:headers[$index].selected}" ng-repeat="col in row track by $index">
								{{col}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<div inform class="inform-fixed inform-shadow inform-animate"></div>
</body>
</html>